In [1]:
import pandas as pd

In [2]:
names = ['Bob','Jessica','Mary','John','Mel']

In [3]:
grades = [76,95,77,78,99]

In [4]:
bsdegrees = [1,1,0,0,1]

In [5]:
msdegrees = [2,1,0,0,0]

In [6]:
phddegrees = [0,1,0,0,0]

In [7]:
GradesDegrees = zip(names,grades,bsdegrees,msdegrees,phddegrees)

In [8]:
df = pd.DataFrame(data=GradesDegrees,columns=['Names','Grades','Bachelors','Masters','PHD'])

In [9]:
df

     Names  Grades  Bachelors  Masters  PHD
0      Bob      76          1        2    0
1  Jessica      95          1        1    1
2     Mary      77          0        0    0
3     John      78          0        0    0
4      Mel      99          1        0    0

In [10]:
df.count()

Names        5
Grades       5
Bachelors    5
Masters      5
PHD          5
dtype: int64

In [11]:
df.mean()

Grades       85.0
Bachelors     0.6
Masters       0.6
PHD           0.2
dtype: float64

In [12]:
df.std()

Grades       11.067972
Bachelors     0.547723
Masters       0.894427
PHD           0.447214
dtype: float64

In [13]:
df.min()

Names        Bob
Grades        76
Bachelors      0
Masters        0
PHD            0
dtype: object

In [14]:
df.max()

Names        Mel
Grades        99
Bachelors      1
Masters        2
PHD            1
dtype: object

In [15]:
df.quantile(.25)

Grades       77.0
Bachelors     0.0
Masters       0.0
PHD           0.0
Name: 0.25, dtype: float64

In [16]:
df.quantile(.5)

Grades       78.0
Bachelors     1.0
Masters       0.0
PHD           0.0
Name: 0.5, dtype: float64

In [17]:
df.quantile(.75)

Grades       95.0
Bachelors     1.0
Masters       1.0
PHD           0.0
Name: 0.75, dtype: float64